In [606]:
import pandas as pd 
import numpy as np 

import os 
import matplotlib.pyplot as plt 
# %matplotlib notebook
%matplotlib widget

import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.feature_selection import VarianceThreshold
import warnings
warnings.filterwarnings("ignore")

In [607]:
train = pd.read_csv('../EDA_food_data/train.csv')
test = pd.read_csv('../EDA_food_data/test_QoiMO9B.csv')
meal_info = pd.read_csv('../EDA_food_data/meal_info.csv')
fulfilment_center_info = pd.read_csv('../EDA_food_data/fulfilment_center_info.csv')
print(train.shape)
print(test.shape)
print(meal_info.shape)
print(fulfilment_center_info.shape)

(456548, 9)
(32573, 8)
(51, 3)
(77, 5)

# Printing the datasets indivisually

In [608]:
train.head(5)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [609]:
(test.head(5))

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [610]:
(meal_info.head(5))

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [611]:
fulfilment_center_info.head(5)

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

# Merging train the fulfilment_center_info csv and meal_info csv together

In [612]:
train = pd.merge(train,fulfilment_center_info, on='center_id')
test =  pd.merge(test,fulfilment_center_info, on='center_id')

train = pd.merge(train,meal_info, on='meal_id')
test =  pd.merge(test,meal_info, on='meal_id')

In [613]:
train.columns

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'num_orders', 'city_code',
       'region_code', 'center_type', 'op_area', 'category', 'cuisine'],
      dtype='object')

In [614]:
test.columns

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'city_code',
       'region_code', 'center_type', 'op_area', 'category', 'cuisine'],
      dtype='object')

In [615]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456548 entries, 0 to 456547
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
 9   city_code              456548 non-null  int64
 10  region_code            456548 non-null  int64
 11  center_type            456548 non-null  object
 12  op_area                456548 non-null  float64
 13  category               456548 non-null  object
 14  cuisine                456548 non-null  object
dtypes: float64(3), int64(9), object(3)
memory usage: 55.7+ MB

In [616]:
train.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,7.000000

In [617]:
print(train.shape)
train.head(5)

(456548, 15)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai

In [618]:
print(test.shape)
test.head(5)

(32573, 14)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,city_code,region_code,center_type,op_area,category,cuisine
0,1028232,146,55,1885,158.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
1,1262649,147,55,1885,159.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai
2,1453211,149,55,1885,157.14,158.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
3,1262599,150,55,1885,159.14,157.14,0,0,647,56,TYPE_C,2.0,Beverages,Thai
4,1495848,151,55,1885,160.11,159.11,0,0,647,56,TYPE_C,2.0,Beverages,Thai

In [619]:
#another was of checking null coloumns 
[col for col in train.columns if train[col].isnull().sum() > 0]

# the emty list tells the no column has null value in it

[]

# Checking for constant and quasi-constant coloumns

In [620]:
# x = VarianceThreshold(threshold=0)
# x.fit(train)

In [621]:
# sum(x.get_support()) # no constant coloumns in the dataset

In [622]:
train.isnull().sum()
# we can see that there are no null coloumn so no need to do null imutation

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
city_code                0
region_code              0
center_type              0
op_area                  0
category                 0
cuisine                  0
dtype: int64

In [623]:
train.apply(lambda x: len(x.unique()))

# telling us no of unique values in the colooumns 
#total items or rows are 456,548

id                       456548
week                        145
center_id                    77
meal_id                      51
checkout_price             1992
base_price                 1907
emailer_for_promotion         2
homepage_featured             2
num_orders                 1250
city_code                    51
region_code                   8
center_type                   3
op_area                      30
category                     14
cuisine                       4
dtype: int64

# Data Visualisation

In [624]:
# plt.figure(figsize=None)

# sns.barplot(train['emailer_for_promotion'])
# plt.show()
plt.figure(figsize=None)

train.emailer_for_promotion.value_counts(normalize=True).plot(kind='bar',title='emailer_for_promotion')
plt.show()

''' we can see that the Emailer for production has maximum values = 0 so we can drop this coloumn'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

' we can see that the Emailer for production has maximum values = 0 so we can drop this coloumn'

In [625]:
plt.figure(figsize=None)

train.homepage_featured.value_counts(normalize=True).plot(kind='bar',title='homepage_featured')
plt.show()

'''Similar thing we can say for home page featured'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

'Similar thing we can say for home page featured'

In [626]:
plt.figure(figsize=None)

train.center_type.value_counts(normalize=True).plot(kind='bar',title='center_type')
plt.show()

''' Type C and Type B have some significant values so we'll use it in making features'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

" Type C and Type B have some significant values so we'll use it in making features"

In [627]:
plt.figure(figsize=None)

sns.lineplot(x=train['week'],y=train['num_orders'])
plt.show()

'''
There was a huge increase of orders just after week 4(in week 5) and in week 48 

similarly 

There was a huge loss in week 62 
'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

'\nThere was a huge increase of orders just after week 4(in week 5) and in week 48 \n\nsimilarly \n\nThere was a huge loss in week 62 \n'

In [628]:
# making a bar plot 
plt.figure(figsize=None)
sns.barplot(train['center_id'],train['num_orders'])
plt.show()

# sns.barplot(train['center_id'],train['num_orders'])

'''
'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

'\n'

In [629]:
plt.figure(figsize=(16,9))
sns.heatmap(train.corr(),annot = True);
plt.xticks();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [630]:
plt.figure(figsize=(10,5))

sns.lineplot(x=train["checkout_price"],y=train["num_orders"])
plt.show()

# impaction on no of order

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [631]:
plt.figure(figsize=(11,6))

sns.barplot(x=train["category"],y=train["num_orders"])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [632]:
plt.figure(figsize=None)

sns.barplot(x=train["cuisine"],y=train['num_orders'])
plt.show()

''' Italian was the most preffered cuisine by everyone'''

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

' Italian was the most preffered cuisine by everyone'

In [633]:
plt.figure(figsize=None)
sns.barplot(x=train["op_area"],y=train["num_orders"])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# Checking Outliers 

Outliers are checked for Numerical coloumns

In [634]:
num_cols = train._get_numeric_data().columns
print(num_cols)

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'num_orders', 'city_code',
       'region_code', 'op_area'],
      dtype='object')

In [635]:
train_copy = train.copy()
for feature in num_cols:
    plt.figure(figsize=None)

    train_copy[feature] = (train_copy[feature])
    train_copy.boxplot(column=feature)
    plt.titile = feature
    plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

# Handelling Outliers

In [636]:
upper_lim = train['checkout_price'].quantile(.95)
lower_lim = train['checkout_price'].quantile(.05)
train = train[(train['checkout_price']<upper_lim)&(train['checkout_price']>lower_lim)]

In [637]:
plt.figure(figsize=None)
train.boxplot(column=['checkout_price'])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [638]:
upper_lim = train['base_price'].quantile(.95)
lower_lim = train ['base_price'].quantile(0.5)
train = train[(train['base_price']< upper_lim)&(train['base_price']> lower_lim)]

In [639]:
plt.figure(figsize=None)
train.boxplot(column=['base_price'])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [640]:
upper_lim = train['op_area'].quantile(0.75)
lower_lim = train['op_area'].quantile(0.25)

train = train[(train['op_area']<upper_lim)&(train['op_area']>lower_lim)]

In [641]:
plt.figure(figsize=None)
train.boxplot(column=['op_area'])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [642]:
train.size

1258590

In [643]:
# upper_lim = train['num_orders'].quantile(0.95)
# lower_lim = train['num_orders'].quantile(0.05)
# train = train[(train['num_orders']< upper_lim) & train['num_orders']>lower_lim]

In [644]:
# plt.figure(figsize=None)
# train.boxplot(column=['num_orders'])
# plt.show()

# Feature Engineering